<p id="notice"><%= notice %></p>

<h1>Pets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Race</th>
      <th>Birthdate</th>
      <th>Owner</th>
      <th>Visitas</th>
      <th>Registro de visitas</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.race %></td>
        <td><%= pet.birthdate %></td>
        <td><%= pet.client %></td>
        <td><%= pet.history_count%></td>
        <td>
        <% pet.pet_histories.each do |history| %>
        <li><%= history.created_at %> </li>
        <% end %>
        </td>
        <td><%= link_to 'Show', pet %></td>
        <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
        <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'New Pet History', new_pet_pet_history_path(pet) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pet', new_pet_path %>
<%= link_to 'New client', clients_path %>
