<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @client.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Altura maxima</th>
      <th>Peso maxima</th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.max_height %></td>
        <td><%= pet.max_weight %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
